<ion-header>
  <ion-toolbar>
    <ion-title>{{ card ? 'Editar' : 'Novo' }} Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input [(ngModel)]="titulo_card"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descrição</ion-label>
    <ion-textarea [(ngModel)]="descricao_card"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Categoria</ion-label>
    <ion-select [(ngModel)]="categoria_id">
      <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{ categoria.titulo_categoria }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="salvar()">Salvar</ion-button>
  <ion-button expand="block" fill="clear" (click)="cancelar()">Cancelar</ion-button>
</ion-content>
